*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: Arial;
    background:#cfdcc2;
    color:#3d5c2a;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 80px;
}
button{
     border-radius:20px;
     padding:8px 20px;
     border: none;
}
.left a{
    margin-right:25px;
    text-decoration:none;
    color:#4f6f34;
    font-size:14px;
}
button:hover{
    background-color: #6f8f4c;
    color: #e3ecd9;
}

.logo{
    font-size:26px;
    font-weight:bold;
    letter-spacing:3px;
}

.right button{
    padding:8px 20px;
    border:none;
    border-radius:20px;
    margin-left:10px;
    cursor:pointer;
}
.btn1{
    background:#e3ecd9;
}

.btn2{
    background:#6f8f4c;
    color:white;
}
.btn2:hover{
 color: #3d5c2a;
 background-color: #e3ecd9;
}
.main{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:40px 100px;
    position:relative;
    height:80vh;
}
.bigtext{
    position:absolute;
    top:120px;
    left:50%;
    transform:translateX(-50%);
    font-size:120px;
    font-weight:bold;
    color:rgba(255,255,255,0.4);
}
.text{
    width:350px;
    z-index:2;
}

.text h1{
    font-size:45px;
    margin-bottom:20px;
}

.para{
    font-size:14px;
    margin-bottom:25px;
    line-height:1.6;
}

.line{
    font-size:18px;
    margin-bottom:20px;
}

.line span{
    font-size:28px;
    font-weight:bold;
}

.order{
    padding:10px 30px;
    border:none;
    border-radius:25px;
    background:#6f8f4c;
    color:white;
    cursor:pointer;
}
.image{
    position:absolute;
    left: 433px;
}

.image img{
    width:600px;
    position:relative;
    z-index:2;
}

.circle{
    position:absolute;
    width:420px;
    height:420px;
    background:radial-gradient(circle,#9ec37a 0%, transparent 70%);
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.bottom{
    position:absolute;
    right:80px;
    bottom:40px;
    font-size:24px;
}
#about{
    width: 70%;
    margin: 100px auto;
    padding: 40px;
    background-color: #e4f7df;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    text-align: center;
   font-size: 16px;
    line-height: 1.8;
    color: #3d5c2a;
    text-align: justify;
}
.juice-section{
    width: 80%;
    margin: 80px auto;
    text-align: center;
}

.title{
    font-size: 32px;
    margin-bottom: 40px;
    margin-left: 45%;
    color: #3d5c2a;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}
.card h3{
    margin-top: 15px;
    font-size: 20px;
    color: #4a6b35;
}
.card p{
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}
.card:hover{
    transform: translateY(-8px);
    background-color: #9ec37a;
}